@value montserrat from './common/typography.css';

/*
 * Add any global styles here
 */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.app {
  composes: box from './common/layout.css';

  font-family: Garamond;
  font-weight: normal;
  font-smoothing: antialiased;
}
.backgroundPic {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  z-index: -2;
  opacity: 0.8;
}  
@font-face {
    font-family: 'Red_October'; /*www.fontsquirrel.com*/
    src: url("./fonts/red_october/red_october_regular-webfont.woff");
}
.mainTitle {
  margin-top: 5%;
	text-align: center;
  z-index: 2;
  font-family: 'Red_October';
  font-size: 70px; 
}
button {
	background-color: #8c1919;
	color: #fff;
	border: none;
	font-size: 18px;
  font-family: Garamond;
}

