@value montserrat from './common/typography.css';

/*
 * Add any global styles here
 */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #c8cfd6;
}

.app {
  composes: box from './common/layout.css';

  font-family: montserrat;
  font-weight: normal;
  font-smoothing: antialiased;
}
h1 {
	text-align: center;
}
button {
	background-color: #8c1919;
	color: #fff;
	border: none;
	font-size: 18px;
}