.buyBookBody {
  background-color: rgba(211, 211, 211, 0.3);
  padding: 15px;
  font-family: Tahoma;
}
.results {
  text-decoration: none;
  color: black;
  font-size: 18px;
  padding: 5px;
}
.author {
  
}
.title {
  font-size: 30px;
  border-bottom: 1px black solid;
  margin-bottom: 10px;
}
.homeBody {
	
}
.photo {
  float: left;
  max-width: 200px;
  margin-right: 10px;
}
.photo img {
  max-width: 200px;
}
.emailSeller {
  padding-top: 5px;
  padding-left: 10px; 
  clear: left;
}
.bookContent {
  overflow: hidden;
}