.body {
  background-color: rgba(211, 211, 211, 0.3);
  padding: 15px;
}
.searchBar {
	width: 100%;
    height: 50px;
}
.results {
  text-decoration: none;
  color: black;
  font-size: 18px;
}
.author {

}
.title {
  font-size: 30px;
  border-bottom: 1px black solid;
  margin-bottom: 10px;
}
.homeBody {
	
}
.photo {
  float: left;
  max-width: 200px;
  margin-right: 10px;
}
.photo img {
  max-width: 200px;
}

input,
input::-webkit-input-placeholder {
    font-size: 20px;
    line-height: 2;
}
input {
	padding: 10px;
    border: 1px black solid;
}
li {
	list-style-type: none;
}
h1 {
	text-align: center;
}