@value font-x-large from '../settings.css';
@value color-black, color-dodger-blue from '../common/colors.css';

.navigation {
	padding: 18px;
	border-bottom: 2px solid #666;
	position: fixed;
	background-color: #aaa;
	width: 100%;
}

.item {
  display: inline-block;
  text-decoration: none;
  padding: 12px 24px;
  color: color-black;
  margin-bottom: 10px;
}
.item:hover {
	box-shadow: 2px 2px 5px #737373;
}

.logo {
  font-size: font-x-large;
}

.active {
  color: color-dodger-blue;
}
