.item {
  display: inline-block;
  text-decoration: none;
  padding: 15px;
  margin: 15px;
  color: #fff;
  font-size: 24px;
}
.item:hover {
	border-bottom: 5px white solid;
	padding-bottom: 10px;
}
.navigation {
	text-align: center;
	width: 100%;
	background-color: #8c1919;
}