.item {
  display: block;
  text-decoration: none;
  padding: 15px;
  color: #fff;
  font-size: 24px;
}
.item:hover {
	border-left: 5px white solid;
	padding-left: 10px;
}
.navigation {
  display: none;
	width: 100%;
	background-color: rgba(140, 25, 25, 0.1);
  font-family: Tahoma;
}
.button {
  background-color: rgba(140, 25, 25, 0.7);
  position: absolute;
  top: 10%;
  left: 3%;
}
.button:hover {
  width: 100%;
  height: auto;
}
.button:hover .navigation {
  display: block;
}
.menu {
  margin: 15px;
  color: white;
  font-family: Tahoma;
}