.sellerHomepageBody {
	background-color: rgba(211, 211, 211, 0.3);
  	padding: 15px;
}
.adminPageBody {
	background-color: rgba(211, 211, 211, 0.3);
  	padding: 15px;
}
.manageUsersBody {
	background-color: rgba(211, 211, 211, 0.3);
  	padding: 15px;
}
.buyerBooks{
	border: 1px solid black;
	padding: 10px;
}
.buyerBookList {
	padding: 10px 10px 15px 10px;
}
.link {
	background-color: #8c1919;
	color: #fff;
	border: none;
	font-size: 18px;
	text-decoration: none;
	padding: 10px;
	margin: 15px;
}
.editLink {
	background-color: #8c1919;
	color: #fff;
	border: none;
	font-size: 18px;
	text-decoration: none;
	padding: 10px;
	margin: 15px;
	margin-left: 46.5%;
}	
.results {
  text-decoration: none;
  color: black;
  font-size: 18px;
}
.author {
  color: grey;
}
.title {
  font-size: 30px;
  border-bottom: 1px black solid;
  margin-bottom: 10px;
}
.description {
	margin-bottom: 20px;
}
.photo {
	float: left;
	max-width: 200px;
	margin-right: 10px;
}
.photo img {
	max-width: 200px;
}