.sendEmailBody {
	
}
.content {
  width: 50%;
  height: 150px;
  font-size: 18px;
  padding: 10px;
  font-size: 18px;
  border: 1px solid black;
}
.emailInputs {
	width: 50%;
	padding: 2px;
	padding-left: 10px;
  font-size: 18px;
}